.container
  .starter-template
    %h1 このサイトについて
    %p.lead
      2015年に福岡に引っ越して、初めて福岡市プレミアム商品券を購入してみました。地理がよくわかっていなかったので、一体どこで使えるのかよくわかりませんでした。サイトで検索しても、地図表示がなかったのでマップ上で商品券の使える店舗を検索できるサービスを作ってみました。店舗検索の一助としてお役に立てれば幸いです。

    %p
      ご意見・クレーム・ご要望などありましたら、twitterで@snusまでお願いします。<br>
